* {
  font-family: sans-serif;
}

.social {
  text-align: center;
  font-size: 50px;
  color: blueviolet;
  word-spacing: 50px;
}
.profile {
  color: rgb(212, 120, 174);
}
.intro {
  font-size: 40px;
  padding-top: 100px;
  padding-left: 250px;
}
.bgi {
  background-image: url("../images/Desa.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  
}
.h3{
    color: rgb(148, 81, 5);
    padding-top: 150px;
}
.mine{
    float: left;
    height: 400px;
    border-radius: 50px;
}

.rumee {
  border-radius: 500px;
  margin-left: 200px;
}

.navbar{
    word-spacing: 20px;
    text-align: end;
    padding-right: 30px;
    display: flex;
    padding-left: 200px;
}
.buts a{
    position: relative;
    left: 400px;
    top: 10px;
    color: rgb(221, 224, 19);
    text-decoration: none;
    font-size: 35px;
    border-radius: 10px;
    padding: 5px;
}

.description{
    color: rgb(219, 47, 156);
    font-size: 30px;
}
.span{
    font-size: 20px;
}
.my{
    padding-top: -20px;
    color: rgb(214, 46, 82);
    justify-content: 5px;
}
.about{
   background-color: lightblue;
    font-size: 30px;
    color: rgb(248, 237, 240);
    padding-top: 0px;
}
.move{
    padding-top: 60px;
    padding-bottom: 40px;
}
.gitlinks{
    text-align: center;
}
.intro1{
    background-color: white;
    color: rgb(49, 32, 32);
}
.hobbies{
    background-image: url("../images/travel.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color:  lightblue;
    height: 500px;
}