* {
  font-family: sans-serif;
}

.social {
  text-align: center;
  font-size: 50px;
  color: blueviolet;
  word-spacing: 50px;
}
.profile {
  color: rgb(212, 120, 174);
}
.intro {
  font-size: 40px;padding-top: 200px;
}
.bgi {
  background-image: url("/amages/desa.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.h3{
    color: rgb(148, 81, 5);
}
.mine{
    float: left;
    height: 480px;
}

.rumee {
  border-radius: 500px;
  margin-left: 200px;
}

.navbar{
    word-spacing: 20px;
    text-align: end;
    padding-right: 30px;
}

button{
    border: 2px solid grey ;
}
.description{
    color: black;
}